*{
    padding: 0;
    margin: 0;
}
.deliver{
    color: rgb(222, 215, 215);
    font-size: 13px;
    margin-top: 10px;
    
}
.electronics{
        background-color: rgb(218, 216, 216);
        margin-left: 20px;
}
.search{
    width: 41px;
    height: 41px;
}
.flag{
    background-color: #000a0a ;
}
.icon{
    color: white;
}
.location{
    width:40px; 
    height:40px;
}
.img1{
    border: 1px solid;
    border-radius: 10px;
    width: 45px;
    height: 50px;
    margin-top: 15px;
}
.container1 img{
border: 1px solid;
border-radius: 10px;
width: 45px;
height: 50px;
}
.container3{
    width: 20rem;
     margin-left: 15px;
     margin-right: 40px;
}
.nav1{
    background-color: #000a0a;
}
.dpdn{
    background-color: rgb(218,216,216);
}
.ipt{
    width: 886px; height: 40px;
}
.drb{
    background-color: #000a0a;
}
.span{
    font-weight: bold;
}
.nav2{
    background-color: #13141c; font-size: 12px;
}
.vrline{
    color: white; 
    margin-left: 10px; 
    font-size: 30px;
}
.sony{
    margin-left: 130px;
}
.p2{
    color: red;
}
.tic{
    margin-top: 12px;
    width:15px; 
    height:20px;
}
.san9{
    color: rgb(36, 126, 161); 
    margin-top: 12px; 
    margin-right: 30rem;
}
.snrd{
    margin-left: 114rem;
}
.smimgs{
    margin-left:50px;
}
.tvd{
    margin-top: 8rem;
}
.video2{
    font-size: 10px; margin-left: 5px;
}
.san8{
    position:absolute;
    font-size: 20px;
    right:75rem;
    bottom: 32.5rem;
}
.san7{
    background-color: 
    black; color: white; display: inline;
}
.san6{
    color: brown;
}
.san5{
    color: rgb(142, 67, 67); 
    margin-top: 5px;
}
.san4{
    display: inline; 
    margin-left: 20px; 
    margin-top: 3px; 
    font-size: 20px; 
    font-weight: bold;
}
.san3{
    text-decoration:line-through;
}
.san2{
    color: white; 
    background-color: black; 
    padding: 0 10px 5px 5px;
}
.san1{
    font-weight:bolder;
}
.san{
    font-weight: 
    bolder; font-size: 30px; 
    margin-left: 40px;
}
.card1{
    width: 200px;
    border: 2px solid rgb(218,216,216);
}
/* ============================== */
.td{
     padding-left: 50px;
     font-size: small;
 }
 .tr{
     font-size: small;
 }
 /* ========================== */
 .freep{
    color: rgb(13, 122, 122);
 }
 .ofr{
    color: rgb(13, 122, 122);
 }
 /* ========================================= */
 .spn1{
   font-size: 25px; font-weight: bold;
 }
 .spn2{
    font-size: 20px;
 }
 .bold{
    margin-left: 53rem;
 }
 .spn3{
    color: rgb(211, 39, 39);
 }
 .spn4{
    color: rgb(211, 39, 39);
    font-weight: bold;
 }
 .spn5{
    text-decoration:line-through;
 }
 .spn6{
    color:white; background-color: black;
 }
 .spn7{
    color: rgb(27, 100, 27); font-size: 18px;
 }
 .spn8{
    color: rgb(65, 159, 190);
 }
 .lcn{
    margin-top: 7px;
    width:20px; height:20px;
 }
.p1{
    color: rgb(109, 170, 47); 
    font-weight:bold; font-size: 18px;
}